<div>
    <p>Product Information:
    
    <% if display_product_link %>
        <%= link_to product.name, product_id_path(product) %>
    <% else %>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
        <p><%= product.stock_quantity %></p>
    <% end %>
    </p>
</div>