<div>
    <% if display_product_link %>
        <%= link_to product.name, product_id_path(product) %>
    <% else %>
        <p><strong>Item:</strong> <%= product.name %></p>
        <p><strong>Description:</strong> <%= product.description %></p>
        <p><strong>Item price:</strong> <%= product.price %></p>
        <p><strong>Item quantity:</strong> <%= product.stock_quantity %></p>
        <p><%= image_tag product.prodimage.url %></p>
    <% end %>
    
    
    
</div>