<h1>Products</h1>

<%= form_tag index_path, :method => "get" do %>
   <%= text_field_tag :keyword %>
   <%= submit_tag 'Search' %>
 <% end %>
 





<%= render partial: 'product',
collection: @products,
locals: {display_product_link: true} %>

<p></p>
<p></p>

<%= link_to 'About', abouts_path %>
<%= link_to 'Contact Us', contacts_path %>
