<h1>Categories</h1>

 <%= form_tag categories_path, :method => "get" do %>
   <%= text_field_tag :keyword %>
   <%= submit_tag 'Search' %>
 <% end %> 



    <% @categories.each do |cats|%>
        <h3><%=cats.name%></h3>
        <% @product.where("category_id = #{cats.id}").each do |prod| %>
            <p><strong>Item:</strong> <%= prod.name %></p>
            <p><strong>Description:</strong> <%= prod.description %></p>
            <p><strong>Item price:</strong> <%= prod.price %></p>
            <p><strong>Item quantity:</strong> <%= prod.stock_quantity %></p>
        <% end %>
        
    <% end %>




